body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #000;
	overflow-x: hidden;
  width: 100%;
}

nav.navbar-default .navbar-brand {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

nav.navbar-default .navbar-brand:focus, nav.navbar-default .navbar-brand:hover {
  color: #fff !important;
  background-color: transparent;
}

nav.navbar-default .navbar-nav>li>a{
color:#fff;
font-family: 'Roboto', sans-serif;
font-size: 14px;
margin-top: 16px;
text-transform: uppercase;
}


.navbar{
  background-color: #000000;
width: 100%;
  
}
.pro-tittle{
  width: 100%;
}

.lead77{
  margin-top: 10%;
}
.b1{
  font-size: 18px;
}
.lead97{
  
  margin-top: 15%;
}
.lead35{
  color: #fff;
  
 float: right;
 margin: 30px 10px 0 0;
}
.wrapper {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no repeat;
	background-position: center;
}
.lead30{
  width: 380px;
  display: block;
 margin: auto;
 align-items: center;
 margin-top: 17%;
}
.lead11{
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 4%;
  }
.a6{
  font-size:20px;
  text-align: center;
  color: #fff;
  margin-top: 2%;
}
 
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 5px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 200%;
}
.text-wrapper {
  
  position: relative;
}

.first-txt {
  position: absolute;
  top: 10px;
margin: auto;
left: 100px;
  text-align: center;
  color: #fff;
}
.second-txt {
  position: absolute;
  top: 15%;
margin: auto;
left: 100px;
  text-align: center;
  color: #fff;
}
.h5{
  font-size: 22px;
}


/*-------------------------------------*/

.lead5{
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin-top: 30px;
} 
.hero-text{
  background-color: #212121;
  height: 250px;
}
.lead6{
  text-align: center;
  padding-top: 90px;
  color: #fff;
}
.team {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0rem 5rem 0rem;
  }
  .third-txt {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #fff;
  }
  .cards-wrapper {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5rem;
	width: 100%;
  }
  
  .card {
	width: 37rem;
	height: 45rem;
	box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
	border-radius: 0.5rem;
	position: relative;
  }
  
  .card-img-wrapper {
	width: 100%;
	height: 100%;
	background-color: #262626;
	border-radius: 0.5rem;
  }
  
  .card-img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
	border-radius: 0.5rem;
	transition: opacity 0.3s;
  }
  
  .card:hover .card-img-wrapper img {
	opacity: 0.5;
  }
  .a1{
    font-size: 16px;
    line-height: 1.5em;
    color: #fff;
}
.a2{
  font-size: 19px;
  color: rgb(143, 6, 6);
  font-weight: bold;
}
.a3{
    margin-top: 5%;
    margin-right: 10px;
    width: 130px;
    height: 50px;
}
.a4{
    font-size: 14px;
    color: #fff;
}
.b6{
  background-color: #000;
}


.hero1-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bg1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero1-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.about{
    background-image: url(bg2.jpg);
    height: 100vh;
background-size: cover;
background-repeat: no repeat;
background-position: center;
}
.topped{
    width: 220px;
    margin-top: 45%;
    margin-left: 90px;
}
.topped1{
  
  margin-top: 30%;
 font-size: 25px;
 color: #fff;
 letter-spacing: .1em;
}
.topped2{
  font-size: 19px;
  color: #fff;
  text-align: justify;
}
.choose-section{
  background-color: rgb(2, 2, 2);
  height: 70vh;
  width: 100%;
}
.topped3{
  font-size: 35px;
  letter-spacing: .1em;
  text-align: center;
  color: #fff;
  padding-top: 10%;
  }
  .topped4{
      font-size: 22px;
      color: #fff;
      text-align: center;
  }
  .topped5{
      font-size: 60px;
      color: #fff;
      text-align: center;
  }
  .topped6{
      font-size: 20px;
      color: #fff;
      text-align: center;
  }
  .topped7{
      margin-top: 10px;
  }
  /*Start Section Testimonials*/
.testimonials {padding-top: 50px; padding-bottom: 50px}
.testimonials .lead {line-height: 2em; margin-bottom: 10px}
.testimonials span {font-size: 18px; font-weight: bold; color: #E41B17}
.testimonials .carousel-indicators
{
position: static;
width: 100%;
margin-left: auto;
padding-top: 20px;
}
.leading1{
  color: #fff;
}
.h2{
  color: #FFF;

}
.leading2{
  color: #fff;
}
.myGallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.myGallery img {
  width: 100%;
}

/*
  And here are some declarations for the image caption.
  Just hover over one of the last 5 images to see it.
*/

.myGallery .item {
  position: relative;
  overflow: hidden;
}

.myGallery .item img {
  vertical-align: middle;
}

.myGallery .caption {
  margin: 0;
  padding: 1em;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
  transition: transform 0.5s;
  transform: translateY(100%);
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
}

.myGallery .item:hover .caption {
  transform: translateY(0%);
}

/*
  The rest is only styling for this example page
*/

@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;900&display=swap");

body {
  font: 400 1.5em/1.58 Vollkorn, serif;
}

h1,
p {
  text-align: center;
}

.myGallery {
  font-size: 1rem;
}
.a1{
  font-size: 16px;
  line-height: 1.5em;
  color: #fff;
}
.a2{
font-size: 19px;
color: rgb(143, 6, 6);
font-weight: bold;
}
.a3{
  margin-top: 5%;
  margin-right: 10px;
  width: 130px;
  height: 50px;
}
.a4{
  font-size: 14px;
  color: #fff;
}
.b6{
  background-color: #000;
}

.testimonials .carousel-indicators li
{
text-indent: 0;
width: 80px;
height: 80px;
opacity: 0.5;
border: 2px solid #FFF;

overflow: hidden;
margin: 5px;
}
.testimonials .carousel-indicators li.active
{
width: 80px;
height: 80px;
opacity: 1;
background: none;
border: 2px solid #E41B17
}

.testimonials .carousel-indicators li img {max-width: 100%}
/*End Section Testimonials*/
/*Start Section Price Table*/
.testing-section{
background-image: url(bg2.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;

}
.lead43{
font-size: 20px;
color: #fff;
text-align: justify;

}
.lead44{
padding-top: 6em;
color: #fff;
text-align: justify;
}
.lead45{
width: 490px;
padding: 9em 3em 3em 12em;
}
  
/*---------------media queris---------------------*/
@media (max-width: 1300px) {
  .team {
    padding-bottom: 4rem;
  }
  
  .cards-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  
  .card {
    margin-bottom: 8rem;
  }
  
}  

@media only screen and (max-width: 1000px){
  .lead45{
    padding: 0;
    width: 220px;
    margin-left: 160px;
  }
  
  .lead44{
    padding-top: 0;
    color: #fff;
  }
  .lead50{
    width: 100%;
    height: 800px;
  }
  .topped5{
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.topped6{
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.second-txt {
 text-align: center;
 margin-left: 14%;
}
.first-txt{
  margin-left: 15%;
}
.h5{
  font-size: 22px;
}
.lead77{
  margin-top: 4%;
}
.lead97{
  margin-top: 1%;
}
}
@media only screen and (max-width: 860px){
  .second-txt {
    text-align: center;
    margin-left: 9%;
   }
   .first-txt{
     margin-left: 9%;
   }
}
@media only screen and (max-width:768px){
  .wrapper {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
  }
  .lead77{
    margin-top: 6%;
  }
  .b1{
    font-size: 18px;
  }
  .lead97{
    
    margin-top: 1%;
  }
  .lead45{
    padding: 0;
    width: 220px;
    margin-left: 240px;
  }
  .lead44{
    padding-top: 0;
    color: #fff;
  }
  .lead30{
    width: 380px;
    display: block;
   margin: auto;
   align-items: center;
   margin-top: 25%;
  }
  .h5{
    font-size: 20px;
  }
  .lead11{
      text-align: center;
      color: #fff;
      font-size: 30px;
      margin-top: 4%;
    }
  .a6{
    font-size:20px;
    text-align: center;
    color: #fff;
    margin-top: 2%;
  }
  .text-wrapper {
  
    position: relative;
  }
  .a1{
    font-size: 17px;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
}
.a2{
  font-size: 20px;
  color: rgb(143, 6, 6);
  font-weight: bold;
  text-align: center;
}
.a3{
    margin-top: 5%;
    
    width: 130px;
    height: 50px;
   margin-left: 300px;
}
.a4{
    font-size: 14px;
    color: #fff;
    text-align: center;
}
  .first-txt {
    position: absolute;
    top: 10px;
  margin: auto;
  left: 140px;
    text-align: center;
    color: #fff;
  }
  .second-txt {
    position: absolute;
    top: 15%;
  margin: auto;
  left: 140px;
    text-align: center;
    color: #fff;
  }
  .h5{
    font-size: 20px;
  }
  
}
@media only screen and (max-width:680px){

  .a3{
    margin-top: 5%;
    
    width: 130px;
    height: 50px;
   margin-left: 250px;
}
}
@media only screen and (max-width:640px){
  .first-txt {
    position: absolute;
    top: 10px;
  margin: auto;
  left: 80px;
    text-align: center;
    color: #fff;
  }
  .second-txt {
    position: absolute;
    top: 15%;
  margin: auto;
  left: 80px;
    text-align: center;
    color: #fff;
  }
  .a3{
    margin-top: 5%;
    
    width: 130px;
    height: 50px;
   margin-left: 240px;
}

}
@media only screen and (max-width: 600px){
  .lead45{
    padding: 0;
    width: 220px;
    margin-left: 170px;
  }
  .lead44{
    padding-top: 0;
    color: #fff;
  }
  
  
  .lead77{
    margin-top: 2%;
  }
  .b1{
    font-size: 18px;
  }
  .lead97{
    
    margin-top: 1%;
  }
  
}

@media only screen and (max-width:580px){
  .lead30{
    width: 350px;
    display: block;
   margin: auto;
   align-items: center;
   margin-top: 32%;
  }
  .a3{
    margin-top: 5%;
    
    width: 130px;
    height: 50px;
   margin-left: 210px
  }
  .first-txt {
    position: absolute;
    top: 10px;
  margin: auto;
  left: 40px;
    text-align: center;
    color: #fff;
  }
  .second-txt {
    position: absolute;
    top: 15%;
  margin: auto;
  left: 40px;
    text-align: center;
    color: #fff;
  }
  .h5{
    font-size: 18px;
  }
  .pro-tittle{
    height: 120vh;
  }
}
@media only screen and (max-width: 520px){
  .lead45{
    padding: 0;
    width: 220px;
    margin-left: 110px;
  }
}

@media only screen and (max-width:480px){
  .about{
    background-image: url(bg2.jpg);
    height: 100vh;
    width: 110%;
background-size: cover;
background-repeat: no repeat;
background-position: center;
}
.lead50{
  width: 110%;
  
}
.leading9{
  font-size: 45px;
  text-align: center;
}
.lead43{
  font-size: 24px;
  color: #fff;
  text-align: justify;
  
  }

.lead60{
  width: 110%;
  
}
.lead70{
  width: 110%;
  
}
  .a3{
    margin-top: 5%;
    
    width: 130px;
    height: 50px;
   margin-left: 180px
  }
  .lead45{
    padding: 0;
    width: 190px;
    margin-left: 110px;
    margin-top: 40px;
  }
  .b6{
    width: 525px;
  }
  .wrapper {
    width: 110%;
    height: 100vh;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
  }
  .card {
    margin-bottom: 8rem;
   margin-left: 40px;
  }
  .pro-tittle{
    width: 105%;
    height: 120vh;
}
  .lead30{
    width: 300px;
    display: block;
   margin: auto;
   align-items: center;
   margin-top: 44%;
  }
  .lead11{
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-top: 4%;
  }
.a6{
  font-size:26px;
  text-align: center;
  color: #fff;
  margin-top: 2%;
}
.lead5{
  text-align: center;
  font-size: 22px;
  color: #fff;
 
} 
.hero-text{
  background-color: #212121;
  
  width: 520px;
}
.lead6{
  text-align: center;
  padding-top: 90px;
  color: #fff;
}

.second-txt{
  font-size: 28px;
}
.h5{
  font-size: 20px;
}
.b1{
  font-size: 19px;
}
.third-txt{
  font-size: 30px;
}

}
@media only screen and (max-width:470px){
  .wrapper {
    width: 115%;
    height: 100vh;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
  }
  .about{
    background-image: url(bg2.jpg);
    height: 100vh;
    width: 115%;
background-size: cover;
background-repeat: no repeat;
background-position: center;
}
.lead50{
  width: 115%;
  
}
.lead60{
  width: 115%;
  
}
.lead70{
  width: 115%;
  
}
}
@media only screen and (max-width:450px){
  .wrapper {
    width: 120%;
    height: 100vh;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
  }
  .about{
    background-image: url(bg2.jpg);
    height: 100vh;
    width: 120%;
background-size: cover;
background-repeat: no repeat;
background-position: center;
}
.lead50{
  width: 120%;
  
}
.lead60{
  width: 120%;
  
}
.lead70{
  width: 120%;
  
}
  .card {
    margin-bottom: 8rem;
   margin-left: 90px;
  }
}
@media only screen and (max-width:420px){
  .wrapper {
    width: 135%;
    height: 100vh;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
  }
  .about{
    background-image: url(bg2.jpg);
    height: 100vh;
    width: 135%;
background-size: cover;
background-repeat: no repeat;
background-position: center;
}
.lead50{
  width: 135%;
  
}
.lead70{
  width: 135%;
  
}
.lead60{
  width: 135%;
  
}

  .card {
    margin-bottom: 8rem;
   margin-left: 120px;
  }
  .pro-tittle{
    width: 109%;
}
.hero-text{
  background-color: #212121;
  height: 250px;
  width: 550px;
}
}
@media only screen and (max-width:380px){
  .wrapper {
    width: 145%;
    height: 100vh;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
  }
  .about{
    background-image: url(bg2.jpg);
    height: 100vh;
    width: 145%;
background-size: cover;
background-repeat: no repeat;
background-position: center;
}
.lead50{
  width: 145%;
  
}
.a1{
  font-size: 26px;
}
.a2{
  font-size: 30px;
}
.a4{
  font-size: 26px;
}
.lead60{
  width: 145%;
  
}
.lead70{
  width: 145%;
  
}
  .lead45{
    padding: 0;
    width: 200px;
    margin-left: 150px;
    
  }
  
  .card {
    margin-bottom: 8rem;
   margin-left: 160px;
  }
  .lead30{
    width: 250px;
    display: block;
   margin: auto;
   align-items: center;
   margin-top: 45%;
  }
  .lead11{
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 4%;
  }
.a6{
  font-size:30px;
  text-align: center;
  color: #fff;
  margin-top: 2%;
}
.h5{
  font-size: 24px;
}
.b1{
  font-size: 20px;
}
.third-txt{
  font-size: 34px;
}
.hero-text{
  height: 60vh;
}
.lead5{
  font-size: 24px;
}
}
@media only screen and (max-width:360px){
  .wrapper {
    width: 159%;
    height: 100vh;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
  }
  .lead50{
    width: 159%;
    
  }
  .lead60{
    width: 159%;
    
  }
  .lead70{
    width: 159%;
    
  }
  .about{
    background-image: url(bg2.jpg);
    height: 100vh;
    width: 159%;
background-size: cover;
background-repeat: no repeat;
background-position: center;
}
}
@media only screen and (max-width:340px){
  .wrapper {
    width: 157%;
    height: 100vh;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
  }
  .about{
    background-image: url(bg2.jpg);
    height: 100vh;
    width: 157%;
background-size: cover;
background-repeat: no repeat;
background-position: center;
}
.lead50{
  width: 157%;
  width: 850px;
  
}
.lead70{
  width: 157%;
  
}
  .card {
    margin-bottom: 8rem;
   margin-left: 200px;
  }
  .lead30{
    width: 250px;
    display: block;
   margin: auto;
   align-items: center;
   margin-top: 35%;
  }
  .lead60{
    width: 157%;
    
  }
}
@media only screen and (max-width:330px){
  .wrapper {
    width: 170%;
    height: 100vh;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
  }
  .lead50{
    width: 169%;
    
  }
  .lead60{
    width: 169%;
    
  }
  .lead70{
    width: 169%;
    
  }
  .about{
    background-image: url(bg2.jpg);
    height: 100vh;
    width: 169%;
background-size: cover;
background-repeat: no repeat;
background-position: center;
}
}
