/*body{
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('beach.jpg');
}*/
#container{
    width: 1000px;
    height: 460px;
    background-image:  url('bk.jpg');
    margin: 5px auto;
   
}
/*#calculator-display{
    text-align: right;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    font-size: 40px;
    background-color: #383838;
    overflow:hidden;
    white-space: nowrap;
    padding: 15px;
    border-radius: 7px 7px 0 0;
}*/

#calculator{
    width: 205px;
    height: 305px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 70px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 
    rgba(0,0,0,0.19);
    padding: 5px;
}
#result{
    height: 60px;
}
#history{
    text-align: right;
    height: 8px;
    margin: 0 20px;
    padding-top: 3px;
    font-size: 1px;
    color:black;
}
#output{
    text-align: right;
    height: 40px;
    margin: 10px 20px;
    font-size: 25px;
}
/*#calculator-display{
    text-align: right;
    overflow: hidden;
    font-size: 20px;
    padding-bottom: 25x;
}*/
#keyboard{
    height: 270px;
}
.operator, .number, .empty{
    width: 20px;
    height: 20px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number, .empty{
    background-color: #eaedef;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 10px;
    background-color: #20b2aa;
    font-weight: bold;
}
button:nth-child(8){
    font-size: 15px;
    background-color: #ffa500;
    font-weight: bold;
}

button:nth-child(12){
    font-size: 15px;
    background-color: #f08080;
    font-weight: bold;

}
button:nth-child(16){
    font-size: 15px;
    background-color: #7d93e0;
    font-weight: bold;

}
button:nth-child(20){
    font-size: 15px;
    background-color: #9477af;
    font-weight: bold;
}