@media only screen and (max-width:1500px) 
{
#about{
    text-align: center;
    padding: 10px;
  }
  #about img {
    width: 100px;
    border-radius:200%;
  }
  #about h1 {
    margin: 15px;
    
  }
  section {
    padding-bottom: 20px;
  }
  .card .card-header 
    cursor: pointer;
  }

}
@media only screen and (min-width:480px) 
{
  
#about{
    text-align: center;
    padding: 10px;
  }
  #about img {
    width: 90px;
    border-radius:80%;
  }
  #about h1 {
    margin: 15px;
    
  }
  section {
    padding-bottom: 20px;
  }
  .card .card-header 
    cursor: pointer;
  }

}
